body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("images/table.png");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: xx-large; /* Default font size for desktop */
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}

/* Increase font size for mobile screens */
@media only screen and (max-width: 600px) {
    body {
        font-size: 1.5rem; /* Increase the font size for mobile */
    }
}
